<h1><%=t('sites.edit')%></h1>

<%= render 'form', site: @site %>

<%= link_to t('show'), @site, class: "btn btn-raised btn-primary" %> |
<%= link_to t('back'), sites_path, class: "btn btn-raised btn-default" %>
