<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<%= link_to t('edit'), edit_site_path(@site), class: "waves-effect waves-teal btn-flat" %> |
<%= link_to t('back'), sites_path, class: "waves-effect waves-teal btn-flat" %>
